@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  color: #fff;
  font-family: 'Inter', sans-serif;

  background-image: url('./back-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 100vh;
}

/* Main Styles */
.info-blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Media */
@media screen and (max-width: 795px) {
  .info-blocks {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .search {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .info {
    flex-direction: column;
  }

  .info-text {
    align-items: center;
  }
}